body {
    display: flex;
  }
  #nav-bar {
    position: fixed;
    color: red;
    width: 100%;
    top: 0px;
  }
  @media screen and (max-width: 500px) {
  nav {
            background-color:blue;
        }
  }
  @media screen and (min-width: 500px) {
  nav {
            background-color:red;
        }
  }
